{% extends 'base.html' %}

{% block content %}
  <div class="post-entry">
    <h2>{{ post.title }}</h2>
    <p>
      {{ post.body }}
      <br>
      Created At: {{ post.created }}
      Written By: {{ post.author }}
    </p>
  </div>

  <p>
    <a href="{% url 'post_edit' post.pk %}">+ Edit Blog Post</a>
  </p>
  <p>
    <a href="{% url 'post_delete' post.pk %}">- Delete Blog Post</a>
  </p>

  <h1>See other posts from this Author</h1>
  {% for post in post.author.posts.all %}
    <div class="post-entry">
      <h2>
        <a href="{% url 'post_detail' post.pk %}">
          {{ post.title }}
        </a>
      </h2>
      <p>{{ post.body }}</p>
    </div>
  {% endfor %}

{% endblock content %}
